:root {
    --button-color: hsl(22, 89%, 52%);
    --button-color-active: hsl(22, 100%, 69%);
    --heading-font-color: hsl(220, 50%, 17%);
    --paragraph-font-color: hsl(221, 23%, 58%);
    --special-container-color: hsl(198, 28%, 93%);
    --bg-color: hsl(0, 0%, 100%);
}

h1, h2, h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    color: var(--heading-font-color);
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    line-height: 28px;
}

p {
    line-height: 1.625rem;
}

body {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: var(--paragraph-font-color);
    background-color: var(--bg-color);
    margin: 1.5rem;
    position: relative;
    z-index: -1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.keyboard {
    width: 351px;
    height: 331px;
    overflow: hidden;
}

#main-keyboard {
    width: 372px;
    height: 331px;
    border-radius: 1.25rem;
}

#phone-keyboard {
    width: 129px;
    height: 193px;
    mix-blend-mode: multiply;
    border-radius: 1.25rem;
    opacity: 0.75;
}

.image-holder {
    background-color: #F16718;
    width: min-content;
    border-radius: 1.25rem;
}

#glass-keyboard {
    width: 220px;
    height: 193px;
    border-radius: 1.25rem;
    margin-left: 1.5rem;
}

.cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    margin: 2rem 0 4rem;
}

.header-img-wrapper {
    position: relative;
}

.img-wrapper {
    display: flex;
    flex-direction: row;
    float: right;
    margin: 1.5rem 0 4.6875rem;
    position: absolute;
    left: -4.125rem;
}

.button {
    width: 150px;
    height: 48px;
    border-radius: 8px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-1 {
    background-color: var(--button-color);
    color: var(--bg-color);
    margin-right: 2rem;
}

.button-2 {
    background-color: var(--special-container-color);
    color: var(--heading-font-color);
}

.about {
    text-align: center;
    overflow: hidden;
}

.about-h2 {
    line-height: 2.25rem;
    width: 255px;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18.6875rem 0 0 3rem;
    line-height: 2.25rem;
}

.features {
    text-align: center;
    margin-top: 6.9375rem;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

.feature-h3 {
    width: 219px;
    height: 56px;
    margin: 48px 0 24px;
}

.icon {
    background-color: var(--button-color);
    border-radius: 1rem;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-weight: 700;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    body{
        margin: 2.5rem;
    }

    header {
        display: flex;
        margin-top: 62px;
    }

    .header-blurb {
        display: flex;
        flex-direction: column;
        width: 339px;
    }

    .keyboard {
        width: 281px;
        height: 425px;
        position: absolute;
        z-index: 2;
        left: 27.9375rem;
    }

    #main-keyboard {
        width: 478px;
        height: 425px;
    }

    .img-wrapper {
        margin-top: 2.5rem;
        left: 0;
    }

    #phone-keyboard {
        width: 214px;
        height: 320px;
    }

    #glass-keyboard {
        width: 445px;
        height: 320px;
    }

    .about-blurb {
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: baseline;
        margin-top: 27.75rem;
        margin-left: -3rem;
    }

    .about-h2 {
        margin: 0 2.25rem 0 3rem;
    }

    .features {
        text-align: left;
        margin: 8.875rem 0;
    }

    .feature {
        align-items: flex-start;
        margin-right: 4.3125rem;
        margin-top: 4.5rem;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .feature-h3 {
        margin: 40px 0 24px;
    }

    .features p {
        width: 281px;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        margin: 3.4375rem 10.3125rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.125rem;
    }

    header {
        margin-top: 5.1875rem;
        margin-bottom: 1.875rem;
    }

    .header-blurb {
        width: 445px;
    }

    .keyboard {
        width: 540px;
        height: 480px;
        margin-left: 7.8125rem;
    }

    header:after {
        content: '';
        width: 255px;
        height: 240px;
        background-color: var(--special-container-color);
        border-radius: 20px;
        left: 71rem;
        position: absolute;
    }

    #main-keyboard {
        width: 540px;
        height: 480px;
    }

    #phone-keyboard {
        width: 255px;
        height: 480px;
    }

    #glass-keyboard {
        width: 445px;
        height: 480px;
    }

    .about {
        display: flex;
        flex-direction: row; 
    }

    .about-h2 {
        margin: 0 3.25rem 0 3rem;
    }

    .about:before {
        content: '';
        width: 255px;
        height: 236px;
        background-color: var(--special-container-color);
        border-radius: 20px;
        position: absolute;
        left: -18rem;
        top: 54.5rem;
    }

    .about-blurb {
        width: 260px;
        height: 282px;
        flex-direction: column;
        align-items: center;
        margin-top: 9rem;
        margin-left: 53rem;
    }

    .features {
        display: flex;
        flex-direction: row;
        margin: 10.5 0 8rem;
    }

    .feature {
        width: 255px;
        margin-right: 1.875rem;
    }

    #row-special {
        margin-left: 1.875rem;
    }
}